body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    /* width: 75%; */
    min-width: 75%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}