a {
    text-decoration: none;
    color: black;
}



.navigation-bar {
    display: flex;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}

.navigation-button {
    border: solid 1px black;
    margin: 5px;
    height: 100%;
    width: 100%;
}